p3 {
    font-size: 20px;
}

li {
    font-size: 18px;
}


#game{
    width: 560px;
    height: 560px;
    /* margin: 0 auto; */
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}
#game>img{display: none}

canvas{
    position: absolute;
    right: 0;
    left: 0;
}
#menu{
    width: 200px;
    height: 100px;
    background-color: rgba(0,211,225,0.5);
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: -180px;
    box-shadow: aliceblue 0 0 10px;
    -webkit-transition: all 1s ; /*mở dần ra trong 2s, áp dụng cho web phía dưới */
    -moz-transition: all 1s ; /* chrome */
    -ms-transition: all 1s ; /*ex*/
    -o-transition: all 1s ;/*Opera*/
    transition: all 1s ; /*vs cái khác*/
}
#menu:hover{
    width: 380px;
}
#menu>input{
    margin-top: 20px;
    margin-left: 65px;
    width: 150px;
}
#text{
    width: 27px;
    height: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    line-height: 50px;
}
#button{
    margin-top: 10px;
    margin-left: 45px;
}
#button>button{
    color: #3684be;
}


.coverText {
    width: 522px;
    position: relative;
    font-size: 14px;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.coverText-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 3px;
    line-height: 1;
    font-size: 16px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.coverText p {
    margin: 0; 
    padding: 0;
}        

#help {
    float: right;
    text-align: left;
    width: 360px;
}

.container {
    /* margin: 0 auto; */
    text-align: center;
    overflow: hidden;
}

